  <div class="info">
    <div class="img-whatsapp">
      <img class="whatsapp-image" src="../../../assets/icons8-whatsapp.svg" alt="">
      <p> (11) 99999-9999</p>
    </div>
    <div class="links-superior">
      <li><img src="../../../assets/icons8-instagram.svg" alt="" srcset=""></li>
      <li><img src="../../../assets/icons8-facebook.svg" alt="" srcset=""></li>
    </div>
  </div>
  <hr>
  <nav>
    <div class="logo">Construções Silvio</div>
    <div class="links">
      <ul class="nav-itens">
        <li><a href="">Home</a></li>
        <li><a href="">Sobre nós</a></li>
        <li><a href="">Projetos</a></li>
        <li><a href="">Contato</a></li>
      </ul>
    </div>
  </nav>
  <header>
    <div class="bg-image">
      <img class="imagem-ajustada" src="../../../assets/pexels-rene-asmussen-3990359.png" alt="">
      <div class="texto-sobre-imagem">
        CONSTRUINDO SONHOS, CRIANDO LARES.
      </div>
    </div>
  </header>
  <main>
    <section>
      <div class="about-us">
        <div class="logo-about-us">
          <img src="../../../assets/pngwing.com.png" alt="">
        </div>
        <h3>Sobre nós</h3>
        <br>
        <span>Bem-vindo à Construções Silvio!
        Somos uma empresa familiar dedicada a construir sonhos e transformar ideias em realidade. Com uma equipe apaixonada e experiente, estamos comprometidos em fornecer serviços de construção de alta qualidade, desde pequenas reformas até projetos residenciais e comerciais de grande escala.
        Nosso compromisso com a excelência, integridade e satisfação do cliente é o que nos impulsiona a cada projeto. Nós valorizamos a confiança que nossos clientes depositam em nós e nos esforçamos para superar suas expectativas em cada etapa do processo.
        Além de oferecer serviços de construção de alta qualidade, também nos preocupamos com a comunidade e o meio ambiente. Estamos constantemente buscando maneiras de minimizar nosso impacto ambiental e contribuir positivamente para as comunidades em que atuamos.
        Seja qual for o seu projeto de construção, estamos aqui para ajudar. Entre em contato conosco hoje mesmo e deixe-nos ajudá-lo a transformar sua visão em realidade!</span>
      </div>

      <div class="projects">
        <div class="projects-text">
          <h3>PROJETOS EXECUTADOS</h3>
        </div>
        <div class="projects-images">
          <img src="../../../assets/centro-de-frutas-IAC-Jundia-4-1024x576.jpg" alt="">
          <img src="../../../assets/centro-de-frutas-IAC-Jundia-4-1024x576.jpg" alt="">
          <img src="../../../assets/centro-de-frutas-IAC-Jundia-4-1024x576.jpg" alt="">
          <img src="../../../assets/centro-de-frutas-IAC-Jundia-4-1024x576.jpg" alt="">
        </div>
      </div>
    </section>

    <section>
      <div class="contato">
        <h3>ENTRE EM CONTATO</h3>
      </div>
      <div class="text">
        <input type="text" placeholder="Nome">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Telefone">
        <input type="text" placeholder="Assunto">
      </div>
    </section>



  </main>

